/* Header.css */
.header {
  background-color: #111827;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  height: 80px; /* Aumentado para mejor visibilidad */
  width: auto;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 1rem;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: opacity 0.3s;
}

.nav-menu a:hover {
  opacity: 0.8;
}

.nav-menu li:nth-child(1) a {
  color: #FFD200;
  transition: color 0.3s ease;
}

.nav-menu li:nth-child(2) a {
  color: #EF2C8D;
  transition: color 0.3s ease;
}

.nav-menu li:nth-child(3) a {
  color: #11C3E2;
  transition: color 0.3s ease;
}

.nav-menu li:nth-child(4) a {
  color: #F65D00;
  transition: color 0.3s ease;
}



.btn {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}

